@use "srdcolor";

@font-face {
    font-family: 'fate_core_glyphsregular';
    src: url('/fonts/myfatecoreglyphs-webfont.woff2') format('woff2'),
    url('/fonts/myfatecoreglyphs-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fate-font {
    font-family: 'fate_core_glyphsregular';
    padding-left: 0.15rem;
}

@font-face {
    font-family: 'drd2_glyphsregular';
    src: url('/fonts/DrD2_Glyphs.woff2') format('woff2'),
    url('/fonts/DrD2_Glyphs.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.drd2-font {
    font-family: 'drd2_glyphsregular'
}

//table td:first-of-type {
//    white-space: nowrap;
//}

.theme-default-content {
    p, li {
        text-align: justify;
    }

    blockquote {
        margin: 0 !important;
    }
}

