:root {
    --vp-c-accent: #007231;
    --vp-c-accent-bg: #46a970;
    --vp-c-accent-hover: #46a970;

    --card-bg-color: rgba(0, 0, 0, 0.02);
    --card-border-color: #007231;
    --card-red-border-color: #ff8282;
    --card-blue-border-color: #0686d9;
    --card-green-border-color: #77e047;
}

[data-theme='dark'] {
    --vp-c-accent: #007231;
    --vp-c-accent-bg: #00d25e;
    --vp-c-accent-hover: #00d25e;

    --card-bg-color: rgba(0, 0, 0, 0.2);
    --card-border-color: #007231;

    --card-red-border-color: #d24949;
    --card-blue-border-color: #2690c7;
    --card-green-border-color: #4b8f2f;
}

.search-box {
    --search-input-width: 14rem;
    --search-result-width: 30rem;
}