:root {
    --vp-c-accent: #bc0300;
    --vp-c-accent-bg: #f64947;
    --vp-c-accent-hover: #f64947;

    --card-bg-color: rgba(0, 0, 0, 0.02);
    --card-border-color: #bc0300;
    --card-red-border-color: #ff8282;
    --card-blue-border-color: #0686d9;
    --card-green-border-color: #77e047;
}

[data-theme='dark'] {
    --vp-c-accent: #ff5250;
    --vp-c-accent-bg: #f64947;
    --vp-c-accent-hover: #f64947;

    --card-bg-color: rgba(0, 0, 0, 0.2);
    --card-border-color: #bc0300;

    --card-red-border-color: #d24949;
    --card-blue-border-color: #2690c7;
    --card-green-border-color: #4b8f2f;
}

.search-box {
    --search-input-width: 14rem;
    --search-result-width: 30rem;
}